.btn {
    margin-left: 10px;
}

.todo {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.description {
    width: 30%;
    text-align: left;
    overflow-wrap: break-word;
}

.priority {
    width: 30%;
    text-align: right;
}