.todo-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    margin-top: 10px;
}

.list-group {
    min-width: 430px;
    overflow-y: scroll;
}

.list-group-item {
    min-width: inherit;
}