.todo {
    display: flex;
    justify-content: space-around;
}

.description {
    flex: 1;
    overflow-wrap: break-word;
    min-width: 60%;
    
}

.priority {
    flex: 1;
    min-width: fit-content;
}

.edit-form {
    display: inherit;
    min-width: fit-content;
}

.save {
    justify-content: flex-end;
}